html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: #579fd3;
    margin: 0;
    padding: 0;
}

#body {
    background-color: white;
    max-width: 60em;
    margin: 0 auto;
    padding: 0.25em 2em 0.25em 2em;
}

p {
    text-indent: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

dl {
    text-indent: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

dl dt {
    font-weight: bold;
}

header {
    font-family: sans-serif;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

h1 {
    margin: 0;
}

h2,h3,h4,h5 {
    padding-left: 1em;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.typewriter {
    font-familiy: monospace;
}

.footer {
    margin-top: 3em;
    border-top-style: solid;
    border-top-width: thin;

    text-align: right;
    font-size: small;
    color: grey;
}

/* EOF */
